<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page for New App</title>
    <link rel="stylesheet" href="../../static/newApp/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>
    <div id="container">
        <div id="first">
            <h1>Django is <div id="test" onclick = codejoy()>tight</div></h1>
        </div>
        <div id="second">
            <a href="other">how to fool a blonde?</a>
        </div>
        <div id="third">
            <a href="/addItem"> Add item to database </a>
            <a href="/display"> See DB Items</a>
        </div>
    </div>
    
    <script src="../../static/newApp/js/nerves.js"></script>
</body>
</html>